<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DMX Monster</title>
        <meta charset="UTF-8" />

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
        />
        <meta name="theme-color" content="#292e32" />
        <meta name="mobile-web-app-capable" content="yes" />

        <script type="text/javascript">
            // register the service worker so that chrome doesn't reject PWA support
            if ("serviceWorker" in navigator) {
                navigator.serviceWorker.register("/service-worker.js?v=<%= env.VITE_HASH %>");
            }
        </script>

        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1" rel="stylesheet" />

        <link rel="icon" href="/favicon.png" />
        <link rel="apple-touch-icon" sizes="512x512" href="/apple-touch-icon.png" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#292e32" />
        <link rel="manifest" href="/manifest.json?v=<%= env.VITE_HASH %>" />
        <meta name="deploymentHash" content="<%= env.VITE_HASH %>" />
    </head>
    <body>
        <div id="app"></div>

        <div id="popups"></div>
        <div id="tooltip"></div>
    </body>

    <script type="module" src="/src/main.js"></script>
</html>
